<!-- $('#modal-message').modal(); -->
<div class="{{prefix}}block modals  fade  {{mod}}" id="{{ID}}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="{{prefix}}dialog  {{mod}}">
		<div class="{{prefix}}body  {{mod}}" >
			<button type="button" class="{{prefix}}btn-close  modal-close" data-dismiss="modal" aria-hidden="true">
				{% include "../svg-sprite/svg.twig" with {icon:"modal-close"} %}
			</button>
			<div class="{{prefix}}content  {{mod}}">
				<div class="{{prefix}}row  {{mod}}">
					<div class="{{prefix}}img  {{mod}}">
						<img src="https://www.scarlett.ru/upload/resize_cache/iblock/54e/400_400_1/SC_JE50S40.jpg" alt="">
					</div> 
					<div class="{{prefix}}img  {{mod}}">
						<img src="https://www.scarlett.ru/upload/resize_cache/iblock/54e/400_400_1/SC_JE50S40.jpg" alt="">
					</div> 
					<div class="{{prefix}}img  {{mod}}">
						<img src="https://www.scarlett.ru/upload/resize_cache/iblock/54e/400_400_1/SC_JE50S40.jpg" alt="">
					</div> 
				</div> 
				<p class="{{prefix}}heading  {{mod}}">
					Спасибо за регистрацию чека!
				</p>
				<p class="{{prefix}}label  {{mod}}">
					После прохождения проверки, вам будет направлен промокод и инструкция по его использованию
				</p>
			</div> 
		</div>
	</div>
</div>