{% if view == "banner" %}
	<section class="{{content_prefix}}panel  {{content_mod}}">
		<div>
			<div data-slick-banner>
				{% for value in banner_list %}
					<a href="{{value.link}}" class="{{content_prefix}}preview  {{content_mod}}">
						<img src="{{value.img}}" class="img-responsive" alt="">
					</a>
				{% endfor %}
			</div>
		</div>
		<div>
			<div data-slick-banner-white class="is--dots-white">
			{% for w in banner_white %}
				<div class="card__item  {{banner_mod}}  {{w.mod}}">
					{% if w.btn %}
					<a class="card__btn  {{banner_mod}}  {{w.mod}}">{{w.btn}}</a>
					{% endif %}
					<picture class="card__preview  {{banner_mod}}  {{w.mod}}">
						<img src="{{w.img}}" class="img-responsive" alt="">
					</picture>
					<div class="card__heading  {{banner_mod}}  {{w.mod}}">{{w.name}}</div>
					<div class="card__note  {{banner_mod}}  {{w.mod}}">{{w.note}}</div>
				</div>
			{% endfor %}
			</div>
			<div data-slick-banner-blue>
			{% for b in banner_blue %}
				<div class="card__item  {{banner_mod}}  {{b.mod}}">
					{% if b.btn %}
					<a class="card__btn  {{banner_mod}}  {{b.mod}}">{{b.btn}}</a>
					{% endif %}
					<picture class="card__preview  {{banner_mod}}  {{b.mod}}">
						<img src="{{b.img}}" class="img-responsive" alt="">
					</picture>
					<div class="card__heading  {{banner_mod}}  {{b.mod}}">{{b.name}}</div>
					<div class="card__note  {{banner_mod}}  {{b.mod}}">{{b.note}}</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
{% if view == "header" %}
	<section class="{{content_prefix}}panel  {{content_mod}}">
		<picture class="{{content_prefix}}preview  {{content_mod}}">
			<source media="(max-width: 500px)" srcset="{{img_xs}}">
			<img src="{{img}}" class="img-responsive" alt="">
		</picture>
	</section>
{% endif %}
{% if view == "card" %}
	<section class="{{content_prefix}}panel  {{content_mod}}">
		<div class="{{content_prefix}}container  container  {{content_mod}}">
			<div class="{{content_prefix}}row  grid__row  {{content_mod}}">
				{% include "../common/card/card.twig" with {
				 	view: "card", 
				 	prefix:prefix.card, 
				 	mod:content_mod, 
				 	list:list
				} %}
			</div>
			<p class="{{content_prefix}}text  {{content_mod}}">Промо-коды действуют до 31 декабря 2020 года, одна соковыжималка - один купон, один купон - один подарок и скидка</p>
		</div>
	</section>
{% endif %}
{% if view == "form" %}
	<section class="{{content_prefix}}panel  {{content_mod}}">
		<div class="{{content_prefix}}container  container  {{content_mod}}">
			<h2 class="{{content_prefix}}heading  {{content_mod}}">{{heading}}</h2>
			{% include "../common/form/form.twig" with {
				view: 			"order", 
				prefix:			"form__", 
				mod:			content_mod, 
				color:			"", 
				ID: 			"fm_order",
			} %}
		</div>
	</section>
{% endif %}
{% if view == "slider" %}
	<section class="{{content_prefix}}panel  {{content_mod}}">
		<div class="{{content_prefix}}container  container  {{content_mod}}">
			<h2 class="{{content_prefix}}heading  {{content_mod}}">{{heading}}</h2>
			<p class="{{content_prefix}}text  {{content_mod}}">{{label}}</p>
		</div>
		<div class="{{content_prefix}}slider  {{content_mod}}" data-slick-slider>
			{% for value in list %}		
			<div class="{{prefix.card}}item  {{content_mod}}"><img src="{{value.img}}" class="img-responsive" alt=""></div> 
			{% endfor %}
		</div>
	</section>
{% endif %}
{% if view == "modals" %}
	<section class="{{content_prefix}}panel  {{content_mod}}">
		<div class="{{content_prefix}}container  container  {{content_mod}}">
			<div style="margin-bottom: 10px;">
				<a href="#" class="form__link" data-toggle="modal" data-target="#modal-timberk">Скидки -50% timberk</a>	
			</div>
			<div style="margin-bottom: 10px;">
				<a href="#" class="form__link" data-toggle="modal" data-target="#modal-hyundai">Скидки -50% hyundai</a>	
			</div>
		</div>
	</section>
{% endif %}
{% if view == "insta" %}
	<section class="{{content_prefix}}panel  {{content_mod}}">
		<div class="{{content_prefix}}container  container  {{content_mod}}">
			<div class="{{content_prefix}}row  {{content_mod}}">
				<div>
					<a href="https://www.instagram.com/scarlett.club/" target="_blank"><img src="{{img}}" alt=""></a>
				</div>
				<div class="{{content_prefix}}heading  {{content_mod}}">
					Мы в Instagram <a href="https://www.instagram.com/scarlett.club/" target="_blank">@scarlett.club</a>
				</div>
				<div>
					<a class="{{content_prefix}}btn  {{content_mod}}" href="https://www.instagram.com/scarlett.club/" target="_blank">Подписаться</a>
				</div>
			</div>
		</div>
		<div class="{{content_prefix}}container  container  {{content_mod}}-slider">
			<div class="{{content_prefix}}slider  {{content_mod}}" data-slick-insta>
				{% for value in list %}		
				<a href="#" class="{{prefix.card}}item  {{content_mod}}  {{value.group}}">
					<div class="{{prefix.card}}bg  {{content_mod}}"></div>
					<img src="{{value.img}}" class="img-responsive" alt="">
				</a> 
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
{% if view == "catalog" %}
	<section class="{{content_prefix}}panel  {{content_mod}}" >
		<div class="{{content_prefix}}container  container  {{content_mod}}-slider">
			<div style="max-width: 860px;">
				<div class="{{content_prefix}}slider  {{content_mod}}" data-slick-catalog>
					{% for value in list %}		
					<a href="#" class="{{prefix.card}}item  {{content_mod}}  {{value.group}}">
						<img src="{{value.img}}" class="img-responsive" alt="">
					</a> 
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endif %}
{% if view == "catalog_card" %}
	<section class="{{content_prefix}}panel  {{content_mod}}"  style="background-color: #f0f0f0;">
		<div class="{{content_prefix}}container  container  {{content_mod}}-slider">
			<div style="max-width: 550px;">
				<div class="{{content_prefix}}slider  {{content_mod}}" data-slick-catalog-note>
					{% for value in list %}		
					<div class="{{card_prefix}}item  {{card_mod}}">
						<img src="{{value.img}}" class="img-responsive" alt="">
					</div> 
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endif %}